div{
	width: 50px;	
	height: 50px;	
	background-color: red;
}

.t1{	
	margin-left: 750px;
	box-shadow: 300px 0 0 red;
}

.t2{
	margin-left: 800px;
	box-shadow: 200px 0 0 red;
}

.t3{
    margin-left:750px; 
	width: 350px;
}

.t4{
	position: absolute;
	top:176px;
	margin-left: 700px;
	width: 100px;
	box-shadow: 350px 0 0 red;
}

.t45{
	width: 150px;
	margin-left: 850px;
}

.t5{
	width: 550px;
	margin-left: 650px;
}

.t6, .t7{
	position: absolute;
	left: 658px; 
	box-shadow: 500px 0 0 red;
}

.t67{
	margin-left: 750px;
	width: 350px;
}

.t78{
	margin-left: 750px;
	box-shadow: 300px 0 0 red;
}

.t9{
	width: 100px;
	margin-left: 800px;
	box-shadow: 150px 0 0 red;
}

